<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/css/mainstyle.css}" type="text/css" rel="stylesheet"
    href="/resources/css/mainstyle.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Alutask | Developers</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Alutask <small>by Gorovtsov</small></h1>
    </div>

    <div class="row">
    <div class="col-lg-10">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Login</th>
                <th>Name</th>
                <th>e-Mail</th>
                <th>Programming Language</th>
                <th>Level</th>
            </tr>
            </thead>
                <tr th:each="developer : ${developers}">
                    <td align="center" th:text="${developer.login}"></td>
                    <td align="center" th:text="${developer.name}"></td>
                    <td align="center" th:text="${developer.email}"></td>
                    <td align="center" th:text="${developer.language}"></td>
                    <td align="center" th:text="${developer.level}"></td>
                </tr>
        </table>
    </div>


    <div class="col-lg-2">
        <form th:action="@{/developers}" method="post" th:object="${developerFilter}">

            <select class="form-control" th:field="*{language}">
                <span th:each="languageToSelect : ${programmingLanguages}">
                    <option th:text="${#strings.capitalize(#strings.toLowerCase(languageToSelect))}" th:value="${languageToSelect}">
                    </option>
                </span>
            </select> <br/>

            <select class="form-control" th:field="*{level}">
                <span th:each="levelToSelect : ${developerLevels}">
                    <option th:text="${#strings.capitalize(#strings.toLowerCase(levelToSelect))}" th:value="${levelToSelect}">
                    </option>
                </span>
            </select> <br/>

            <select  class="form-control" th:field="*{pageSize}">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>

            <input type="submit" class="btn btn-block" value="Refresh list">

        </form>
    </div>
    </div>

    <div class="row">
    <div class="w-50 mx-auto">
        <p>&copy; 2018, Alexander Gorovtsov
            Web project made specially for JD02 ITAcademy.by.</p>
    </div>
    </div>
</div>
</body>
</html>