<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/resources/css/mainstyle.css}" type="text/css" rel="stylesheet"
          href="/resources/css/mainstyle.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Alutask | Home</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Alutask <small>by Gorovtsov</small></h1>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <h1>Alutask home page</h1>
            <h3>What is alutask</h3>
            <p>Alutask is great project tracking system providing you to improve the speed
                of web applications development by sharp task tracking.</p>
            <h3>Why Alutask?</h3>
            <p>Alutask is Alexander Gorovtsov JD2 and diploma project.
                The web app that can help to start his career as Java WEB Developer</p>
            <h3>Enjoy it</h3>
            <p>Alutask team hopes you will enjoy working with their's product</p>
        </div>


        <div class="col-lg-2">
            <a class="btn btn-primary w-100" th:href="@{/profile}">My Profile</a>
        </div>
    </div>

    <div class="row">
        <div class="w-50 mx-auto">
            <p>&copy; 2018, Alexander Gorovtsov
                Web project made specially for JD02 ITAcademy.by.</p>
        </div>
    </div>
</div>
</body>
</html>