<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:href="@{/resources/css/mainstyle.css}" type="text/css" rel="stylesheet"
          href="/resources/css/mainstyle.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Alutask | Profile</title>
    </head>
<body>
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-3">Alutask <small>by Gorovtsov</small></h1>
    </div>

    <div class="row">
        <div class="col-2">
            <a class="btn btn-primary w-100" th:href="@{/projects}" th:text="#{label.allmyprojects}">All my projects</a>
        </div>
        <div class="card" style="width:350px">
            <div class="card-body">
                <h4 class="card-title" th:text="${user.name}">Username</h4>
                <p class="card-text" th:text="${#authentication.authorities.iterator().next()}">Role</p>
            </div>
        </div>
        <div class="col-4" th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th align="center">Name</th>
                    <th align="center">Ending Time</th>
                    <th align="center"></th>
                </tr>
                </thead>
                <tr th:each="project : ${projects}">
                    <td align="center" th:text="${project.name}"></td>
                    <td align="center" th:text="${project.timer.end}"></td>
                    <td align="center">
                        <a class="btn btn-primary w-100" th:href="@{/project/${project.id}}" th:text="#{label.gotoproject}">Go to project</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="w-50 mx-auto">
            <p>&copy; 2018, Alexander Gorovtsov
                Web project made specially for JD02 ITAcademy.by.</p>
        </div>
    </div>
</div>
</body>
</html>